<a href="https://colab.research.google.com/github/Gelassenheit17/R_Statistics/blob/master/R%EC%88%98%EC%97%8504_%EB%8D%B0%EC%9D%B4%ED%84%B0%EA%B0%80%EA%B3%B51.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 성적데이터 읽어오기
# 코렙에 sungjuk.rdata 파일을 업로드한 후 실습함

In [2]:
load('sungjuk.rdata') # R 전용 데이터파일을 읽어옴
sungjuk

  name eng mat sci
1 John 90  85  90
2 Tom  95  96  80
3 Mark 69  49  70
4 Jane 78  95  60

In [4]:
# 총점과 평균을 계산해서  tot, avg 라는 컬럼 생성
sungjuk$tot <- sungjuk$eng + sungjuk$mat + sungjuk$sci
sungjuk$avg <- sungjuk$tot / 3

In [8]:
sungjuk <- within(sungjuk, {
  tot <- eng + mat + sci
  avg < - tot / 3
  })
sungjuk

  name eng mat sci tot avg
1 John 90  85  90  265 88.33333
2 Tom  95  96  80  271 90.33333
3 Mark 69  49  70  188 62.66667
4 Jane 78  95  60  233 77.66667

In [9]:
sungjuk <- within(sungjuk, {
  tot <- eng + mat + sci
  avg <- tot / 3 
})
sungjuk

  name eng mat sci tot avg
1 John 90  85  90  265 88.33333
2 Tom  95  96  80  271 90.33333
3 Mark 69  49  70  188 62.66667
4 Jane 78  95  60  233 77.66667

In [11]:
# 정렬 : order(컬럼명, ...)
# 성적 데이터를 평균을 기준으로 정렬해 봄
order(sungjuk$avg) # 각 데이터별 정렬순번 출력

[1] 3 4 1 2

In [13]:
rn <- order(sungjuk$avg)
sungjuk[rn, ]

  name eng mat sci tot avg
3 Mark 69  49  70  188 62.66667
4 Jane 78  95  60  233 77.66667
1 John 90  85  90  265 88.33333
2 Tom  95  96  80  271 90.33333

In [14]:
rn <- order(-sungjuk$avg) # 내림차순
sungjuk[rn, ]

  name eng mat sci tot avg
2 Tom  95  96  80  271 90.33333
1 John 90  85  90  265 88.33333
4 Jane 78  95  60  233 77.66667
3 Mark 69  49  70  188 62.66667

In [15]:
# 성적 데이터에 반(클래스) 변수 추가 
sungjuk$class <- c(1,2,1,2)
sungjuk

  name eng mat sci tot avg      class
1 John 90  85  90  265 88.33333 1
2 Tom  95  96  80  271 90.33333 2
3 Mark 69  49  70  188 62.66667 1
4 Jane 78  95  60  233 77.66667 2

In [16]:
# 클래스별 최고/최저 영어점수는?
# aggregate(대상, 그룹조건, 집계함수)
aggregate(sungjuk$eng, by=list(sungjuk$class), FUN=max)

  Group.1 x
1 1       90
2 2       95

In [17]:
aggregate(sungjuk$eng, by=list(sungjuk$class), FUN=min)

  Group.1 x
1 1       69
2 2       78

In [18]:
# 클래스별 평균 영어/수학/과학 점수는?
aggregate(sungjuk, by=list(sungjuk$class), FUN=mean)

Warning message in mean.default(X[[i]], ...):
“argument is not numeric or logical: returning NA”
Warning message in mean.default(X[[i]], ...):
“argument is not numeric or logical: returning NA”

  Group.1 name eng  mat  sci tot   avg  class
1 1       NA   79.5 67.0 80  226.5 75.5 1
2 2       NA   86.5 95.5 70  252.0 84.0 2

In [ ]:
# aggregate(sungjuk[행, 열], by=list(sungjuk$class), FUN=mean)
# aggregate(sungjuk[, c(2,3,4)], by=list(sungjuk$class), FUN=mean)
# aggregate(sungjuk[, 2:4], by=list(sungjuk$class), FUN=mean)

In [ ]:
# mtcars 데이터셋을 이용해서
# 실린더cyl별 컬럼을 기준으로 평균, 최대, 최소 연비mpg는?

In [ ]:
# mtcars : 1973~74, 대중적인 32종 차량 주행테스트 데이터

In [19]:
str(mtcars)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

In [20]:
aggregate(mtcars$mpg, by=list(mtcars$cyl), FUN=max)

  Group.1 x
1 4       33.9
2 6       21.4
3 8       19.2

In [21]:
aggregate(mtcars$mpg, by=list(mtcars$cyl), FUN=min)

  Group.1 x
1 4       21.4
2 6       17.8
3 8       10.4

In [22]:
aggregate(mtcars$mpg, by=list(mtcars$cyl), FUN=mean)

  Group.1 x
1 4       26.66364
2 6       19.74286
3 8       15.10000

In [ ]:
# dplyr 라이브러리
# 하들리위캄이 만든 패키지 모음 중 하나
# 데이터 처리, 탐색에 빠르고 유용한 기능들을 제공함
# 데이터분석의 사실상의 표준으로 받아들여지고 있음
# install.packages('dplyr')
# select : 열선택
# filter : 조건선택
# mutate : 행/열 추가
# summarise : 데이터 집계
# group_by : 데이터 그룹화
# arrange : 데이터 정렬

In [23]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [ ]:
# 연산 수행시 파이프(>) 패러다임을 이용해서
# 체인 형식으로 연산을 수행할 수 있음 
# ex) sum(titanic, na.rm=T)
      titanic %>% sum(na.rm=T)

In [24]:
# select : 열선택
# sungjuk 데이터프레임에서 영어 출력
sungjuk %>% select(eng) # 파이프패러다임 이용
# select(sungjuk, eng)  # 일반적인 함수 표기

  eng
1 90
2 95
3 69
4 78

In [25]:
#  sungjuk 데이터프레임에서 영어/수학/과학 출력
sungjuk %>% select(eng, mat, sci)

  eng mat sci
1 90  85  90
2 95  96  80
3 69  49  70
4 78  95  60

In [26]:
# filter : 조건검색
# class가 1인 학생들 출력
sungjuk %>% filter(class == 1)

  name eng mat sci tot avg      class
1 John 90  85  90  265 88.33333 1
2 Mark 69  49  70  188 62.66667 1

In [27]:
# 영어점수가 70이상, 수학점수 80이상 학생들 출력 (and)
sungjuk %>% filter(eng >= 70) %>% filter(mat >=80)

  name eng mat sci tot avg      class
1 John 90  85  90  265 88.33333 1
2 Tom  95  96  80  271 90.33333 2
3 Jane 78  95  60  233 77.66667 2

In [ ]:
sungjuk %>% filter(eng >= 70 & mat >= 80)
sungjuk %>% filter(eng >= 70, mat >= 80)

In [29]:
# 영어점수가 70이상이거나 수학점수 80이상 학생들 출력 (or)
sungjuk %>% filter(eng >= 70 | mat >=80)

  name eng mat sci tot avg      class
1 John 90  85  90  265 88.33333 1
2 Tom  95  96  80  271 90.33333 2
3 Jane 78  95  60  233 77.66667 2

In [30]:
# 영어점수가 70이상, 수학점수 80이상 학생들의 
# 클래스와 이름 출력
sungjuk %>% filter(eng >= 70, mat >= 80) %>% select(class, name)

  class name
1 1     John
2 2     Tom
3 2     Jane

In [31]:
# 성적데이터 초기화
load('sungjuk.rdata')

In [32]:
# 영어/수학/과학에 대해 총점/평균을 계산하고
# tot, avg 컬럼에 저장하세요
sungjuk <- sungjuk %>% mutate(tot= eng + mat + sci) 
sungjuk <- sungjuk %>% mutate(avg = tot / 3)

In [33]:
sungjuk %>% mutate(tot = eng + mat + sci, avg = round(tot / 3, 1))

  name eng mat sci tot avg
1 John 90  85  90  265 88.3
2 Tom  95  96  80  271 90.3
3 Mark 69  49  70  188 62.7
4 Jane 78  95  60  233 77.7

In [34]:
# 조건식 함수
# ifelse(조건식, 참일경우 값, 거짓일때 값)
x <- 55
ifelse(x >= 50, '잘했어요!', '노력하세요')
result <- ifelse(x >= 50, '잘했어요!', '노력하세요')

[1] "잘했어요!"

In [ ]:
# 0~30 : 작음 (x <= 30)
# 31~60 : 보통 (x <= 60) 
# 61~100 : 잘했음 (x <= 100)
ifelse(x <= 30, '작음',ifelse(x <= 60, '보통), '잘했음'))

In [36]:
# 학점 ABCDF를 계산하는 조건식
ifelse 함수로 작성해보세요
#90/80/70/60/~)
ifelse(x >= 90, "A", ifelse(x >= 80, "B", ifelse(x >= 70, "C", ifelse(x >= 60, "D", "F")))

ERROR: ignored

In [38]:
X <- sungjuk$eng
ifelse(x >= 90, "A", ifelse(x >= 80, "B", ifelse(x >= 70, "C", ifelse(x >= 60, "D", "F"))))

[1] "F"

In [41]:
x <- sungjuk$eng
result <- ifelse(x >= 90, "A", ifelse(x >= 80, "B", ifelse(x >= 70, "C", ifelse(x >= 60, "D", "F"))))

[1] "A" "A" "D" "C"

In [ ]:
# ifelse함수로 다중 조건문을 작성하기에 다소 불편
# 이럴 경우 case_when함수를 사용하면 다소 수월해짐
# case_when(조건식~참일때 값, ...)

In [48]:
x <- 55
case_when(x <= 30~'작음', x <= 60~'보통',TRUE~'잘했음')

[1] "보통"

In [49]:
case_when(x >= 90~'A', x >= 80~'B', x >= 70~'C', x >= 80~'D', TRUE~'F')

[1] "F"

In [50]:
x <- 90
case_when(x >= 90~'A', x >= 80~'B', x >= 70~'C', x >= 80~'D', TRUE~'F')

[1] "A"

In [51]:
x <- 80
case_when(x >= 90~'A', x >= 80~'B', x >= 70~'C', x >= 80~'D', TRUE~'F')

[1] "B"

In [53]:
x <- tot
case_when(x >= 90~'A', x >= 80~'B', x >= 70~'C', x >= 80~'D', TRUE~

ERROR: ignored

In [65]:
load('sungjuk.rdata')
sungjuk <- sungjuk %>% mutate(tot= eng + mat + sci) 
sungjuk <- sungjuk %>% mutate(avg = tot / 3)
sungjuk %>% mutate(tot = eng + mat + sci, avg = round(tot / 3, 1))
x <- sungjuk$avg
case_when(x >= 90~'수', x >= 80~'우', x >= 70~'미', x >= 80~'양', TRUE~'가')
sungjuk <- sungjuk %>% mutate(grd <- case_when(avg >= 90~'수', avg >= 80~'우', avg >= 70~'미', avg >= 60~'양', TRUE~'가'))

  name eng mat sci tot avg
1 John 90  85  90  265 88.3
2 Tom  95  96  80  271 90.3
3 Mark 69  49  70  188 62.7
4 Jane 78  95  60  233 77.7

[1] "우" "수" "가" "미"

In [69]:
# 평균점수를 기준으로 학점(수우미양가)을 계산하고
# grd 컬럼에 추가하세요
x <- sungjuk$avg
sungjuk <- sungjuk %>% mutate(grd <- case_when(x >= 90~'수', x >= 80~'우', x >= 70~'미', x >= 60~'양', TRUE~'가')

ERROR: ignored

In [70]:
library(ggplot2)
mpg

In [ ]:
# 차종class과 도시연비cty를 조회하세요
mpg %>% select(class, cty)

In [ ]:
# 차종이 suv, compact인 차량중
# 어느 차량이 도시연비가 높은지 알아보세요
mpg %>% filter(class=='suv'| class=='compact') %>% select(cty)

In [96]:
# 배기량displ에 따라(4,5)  어느 차량이
# 고속도로연비hwy가 높은지 알아보세요
mpg_hwy4 <- mpg %>% filter(displ==4) %>% select(hwy)
mpg_hwy5 <- mpg %>% filter(displ==5) %>% select(hwy)
mpg_hwy4
mpg_hwy5

   hwy
1  23
2  17
3  19
4  17
5  19
6  26
7  24
8  20
9  15
10 17
11 19
12 20
13 20
14 18
15 20

  hwy
1 17
2 17

In [107]:
# 제조사manufactor에 따라(audi, toyota) 
# 어느 차량이 도시연비가 높은지 알아보세요
head(mpg, 15)
cty_audi <- mpg %>% filter(manufacturer=="audi") %>% select(cty)
cty_audi
cty_toyota <- mpg %>% filter(manufacturer=="toyota") %>% select(cty)
cty_toyota

   manufacturer model      displ year cyl trans      drv cty hwy fl class
1  audi         a4         1.8   1999 4   auto(l5)   f   18  29  p  compact
2  audi         a4         1.8   1999 4   manual(m5) f   21  29  p  compact
3  audi         a4         2.0   2008 4   manual(m6) f   20  31  p  compact
4  audi         a4         2.0   2008 4   auto(av)   f   21  30  p  compact
5  audi         a4         2.8   1999 6   auto(l5)   f   16  26  p  compact
6  audi         a4         2.8   1999 6   manual(m5) f   18  26  p  compact
7  audi         a4         3.1   2008 6   auto(av)   f   18  27  p  compact
8  audi         a4 quattro 1.8   1999 4   manual(m5) 4   18  26  p  compact
9  audi         a4 quattro 1.8   1999 4   auto(l5)   4   16  25  p  compact
10 audi         a4 quattro 2.0   2008 4   manual(m6) 4   20  28  p  compact
11 audi         a4 quattro 2.0   2008 4   auto(s6)   4   19  27  p  compact
12 audi         a4 quattro 2.8   1999 6   auto(l5)   4   15  25  p  compact
13 audi         a4 quattro 2.8   1999 6   manual(m5) 4   17  25  p  compact
14 audi         a4 quattro 3.1   2008 6   auto(s6)   4   17  25  p  compact
15 audi         a4 quattro 3.1   2008 6   manual(m6) 4   15  25  p  compact

   cty
1  18
2  21
3  20
4  21
5  16
6  18
7  18
8  18
9  16
10 20
11 19
12 15
13 17
14 17
15 15
16 15
17 17
18 16

   cty
1  15
2  16
3  15
4  15
5  16
6  14
7  21
8  21
9  21
10 21
11 18
12 18
13 19
14 21
15 21
16 21
17 22
18 18
19 18
20 18
21 24
22 24
23 26
24 28
25 26
26 11
27 13
28 15
29 16
30 17
31 15
32 15
33 15
34 16

In [108]:
cty_audi <- mpg %>% filter(manufacturer=="audi") %>% select(cty)
cty_audi
cty_toyota <- mpg %>% filter(manufacturer=="toyota") %>% select(cty)
cty_toyota

   cty
1  18
2  21
3  20
4  21
5  16
6  18
7  18
8  18
9  16
10 20
11 19
12 15
13 17
14 17
15 15
16 15
17 17
18 16

   cty
1  15
2  16
3  15
4  15
5  16
6  14
7  21
8  21
9  21
10 21
11 18
12 18
13 19
14 21
15 21
16 21
17 22
18 18
19 18
20 18
21 24
22 24
23 26
24 28
25 26
26 11
27 13
28 15
29 16
30 17
31 15
32 15
33 15
34 16

In [ ]:
# chervolet, ford, honda 차량의
# 평균 고속도로연비를 조회하시오

In [ ]:
# 고속도로연비와 도시연비를 합산해서 allmpg를, 
# allmpg를 2로 나눠 avgmpg라는 컬럼을 생성하세요
allmpg <- cty + hwy
mpg %>% mutate(avgmpg <- allmpg / 2)

In [109]:

  






# 고속도로연비와 도시연비를 합산해서 allmpg를,
# allmpg를 2로 나눠 avgmpg라는 컬럼을 생성하세요


# 차량의 실린더cyl가 4면 4기통을
# 6이면 6기통을, 그외는 8기통이라고 출력하는
# clydesc라는 컬럼을 생성하세요

ERROR: ignored

In [113]:
# 풀이과정
# 차종class과 도시연비cty를 조회하세요
mpg %>% select(class, cty)

    class      cty
1   compact    18
2   compact    21
3   compact    20
4   compact    21
5   compact    16
6   compact    18
7   compact    18
8   compact    18
9   compact    16
10  compact    20
11  compact    19
12  compact    15
13  compact    17
14  compact    17
15  compact    15
16  midsize    15
17  midsize    17
18  midsize    16
19  suv        14
20  suv        11
21  suv        14
22  suv        13
23  suv        12
24  2seater    16
25  2seater    15
26  2seater    16
27  2seater    15
28  2seater    15
29  suv        14
30  suv        11
⋮   ⋮          ⋮
205 pickup     15
206 pickup     15
207 pickup     16
208 compact    21
209 compact    19
210 compact    21
211 compact    22
212 compact    17
213 compact    33
214 compact    21
215 compact    19
216 compact    22
217 compact    21
218 compact    21
219 compact    21
220 compact    16
221 compact    17
222 subcompact 35
223 subcompact 29
224 subcompact 21
225 subcompact 19
226 subcompact 20
227 subcompact 20
228 midsize    21
229 midsize    18
230 midsize    19
231 midsize    21
232 midsize    16
233 midsize    18
234 midsize    17

In [115]:
# 차종이 suv, compact인 차량중
# 어느 차량이 평균 도시연비가 높은지 알아보세요
suv <- mpg %>% select(class, cty) %>% filter(class== 'suv')
mean(suv$cty)
compact <- mpg %>% select(class, cty) %>% filter(class== 'compact')
mean(compact$cty)

[1] 13.5

[1] 20.12766

In [124]:
# 배기량displ에 따라(4,5)  어느 차량이
# 고속도로연비hwy가 높은지 알아보세요
displ4 <- mpg %>% select(displ, hwy) %>% filter(displ == 4)
mean(displ4$hwy)
displ5 <- mpg %>% select(displ, hwy) %>% filter(displ == 5)
mean(displ5$hwy)

[1] 19.6

[1] 17

In [125]:
# 제조사manufactor에 따라(audi, toyota) 
# 어느 차량이 도시연비가 높은지 알아보세요
audi <- mpg %>% select(manufacturer, cty) %>% filter(manufacturer == 'audi')
mean(audi$cty)
toyota <- mpg %>% select(manufacturer, cty) %>% filter(manufacturer == 'toyota')
mean(toyota$cty)

[1] 17.61111

[1] 18.52941

In [162]:
# chervolet, ford, honda 차량의
# 평균 고속도로연비를 조회하시오
car3 <- mpg %>% select(manufacturer, hwy) %>% filter(manufacturer == 'chervolet' | manufacturer == 'ford' | manufacturer == 'honda')
mean(car3$hwy)
car4 <- mpg %>% select(manufacturer, hwy) %>% filter(manufacturer %in% c('chervolet', 'ford', 'honda'))
mean(car4$hwy)

car5 <-mpg %>% select(manufacturer,hwy) %>% filter(manufacturer =='chevrolet')
mean(car5$hwy)

[1] 22.85294

[1] 22.85294

[1] 21.89474

In [137]:
# 고속도로연비와 도시연비를 합산해서 allmpg를,
# allmpg를 2로 나눠 avgmpg라는 컬럼을 생성하세요
mpg %>% mutate(allmpg = hwy + cty, avgmpg = allmpg / 2) %>% head(20)

   manufacturer model              displ year cyl trans      drv cty hwy fl
1  audi         a4                 1.8   1999 4   auto(l5)   f   18  29  p
2  audi         a4                 1.8   1999 4   manual(m5) f   21  29  p
3  audi         a4                 2.0   2008 4   manual(m6) f   20  31  p
4  audi         a4                 2.0   2008 4   auto(av)   f   21  30  p
5  audi         a4                 2.8   1999 6   auto(l5)   f   16  26  p
6  audi         a4                 2.8   1999 6   manual(m5) f   18  26  p
7  audi         a4                 3.1   2008 6   auto(av)   f   18  27  p
8  audi         a4 quattro         1.8   1999 4   manual(m5) 4   18  26  p
9  audi         a4 quattro         1.8   1999 4   auto(l5)   4   16  25  p
10 audi         a4 quattro         2.0   2008 4   manual(m6) 4   20  28  p
11 audi         a4 quattro         2.0   2008 4   auto(s6)   4   19  27  p
12 audi         a4 quattro         2.8   1999 6   auto(l5)   4   15  25  p
13 audi         a4 quattro         2.8   1999 6   manual(m5) 4   17  25  p
14 audi         a4 quattro         3.1   2008 6   auto(s6)   4   17  25  p
15 audi         a4 quattro         3.1   2008 6   manual(m6) 4   15  25  p
16 audi         a6 quattro         2.8   1999 6   auto(l5)   4   15  24  p
17 audi         a6 quattro         3.1   2008 6   auto(s6)   4   17  25  p
18 audi         a6 quattro         4.2   2008 8   auto(s6)   4   16  23  p
19 chevrolet    c1500 suburban 2wd 5.3   2008 8   auto(l4)   r   14  20  r
20 chevrolet    c1500 suburban 2wd 5.3   2008 8   auto(l4)   r   11  15  e
   class   allmpg avgmpg
1  compact 47     23.5
2  compact 50     25.0
3  compact 51     25.5
4  compact 51     25.5
5  compact 42     21.0
6  compact 44     22.0
7  compact 45     22.5
8  compact 44     22.0
9  compact 41     20.5
10 compact 48     24.0
11 compact 46     23.0
12 compact 40     20.0
13 compact 42     21.0
14 compact 42     21.0
15 compact 40     20.0
16 midsize 39     19.5
17 midsize 42     21.0
18 midsize 39     19.5
19 suv     34     17.0
20 suv     26     13.0

In [144]:
# 차량의 실린더cyl가 4면 4기통을
# 6이면 6기통을, 그외는 8기통이라고 출력하는
# clydesc라는 컬럼을 생성하세요
mpg %>% mutate(clydesc = case_when(cyl == 4~'4기통', cyl == 6~'6기통', TRUE ~'8기통')) %>% select(cyl, clydesc) %>% head(10)

   cyl clydesc
1  4   4기통
2  4   4기통
3  4   4기통
4  4   4기통
5  6   6기통
6  6   6기통
7  6   6기통
8  4   4기통
9  4   4기통
10 4   4기통

In [179]:
library(ggplot2)
library(dplyr)
diamonds

# carat과 price 변수 출력
diamonds %>% select(carat, price)

      carat cut       color clarity depth table price x    y    z
1     0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43
2     0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31
3     0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31
4     0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63
5     0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75
6     0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48
7     0.24  Very Good I     VVS1    62.3  57    336   3.95 3.98 2.47
8     0.26  Very Good H     SI1     61.9  55    337   4.07 4.11 2.53
9     0.22  Fair      E     VS2     65.1  61    337   3.87 3.78 2.49
10    0.23  Very Good H     VS1     59.4  61    338   4.00 4.05 2.39
11    0.30  Good      J     SI1     64.0  55    339   4.25 4.28 2.73
12    0.23  Ideal     J     VS1     62.8  56    340   3.93 3.90 2.46
13    0.22  Premium   F     SI1     60.4  61    342   3.88 3.84 2.33
14    0.31  Ideal     J     SI2     62.2  54    344   4.35 4.37 2.71
15    0.20  Premium   E     SI2     60.2  62    345   3.79 3.75 2.27
16    0.32  Premium   E     I1      60.9  58    345   4.38 4.42 2.68
17    0.30  Ideal     I     SI2     62.0  54    348   4.31 4.34 2.68
18    0.30  Good      J     SI1     63.4  54    351   4.23 4.29 2.70
19    0.30  Good      J     SI1     63.8  56    351   4.23 4.26 2.71
20    0.30  Very Good J     SI1     62.7  59    351   4.21 4.27 2.66
21    0.30  Good      I     SI2     63.3  56    351   4.26 4.30 2.71
22    0.23  Very Good E     VS2     63.8  55    352   3.85 3.92 2.48
23    0.23  Very Good H     VS1     61.0  57    353   3.94 3.96 2.41
24    0.31  Very Good J     SI1     59.4  62    353   4.39 4.43 2.62
25    0.31  Very Good J     SI1     58.1  62    353   4.44 4.47 2.59
26    0.23  Very Good G     VVS2    60.4  58    354   3.97 4.01 2.41
27    0.24  Premium   I     VS1     62.5  57    355   3.97 3.94 2.47
28    0.30  Very Good J     VS2     62.2  57    357   4.28 4.30 2.67
29    0.23  Very Good D     VS2     60.5  61    357   3.96 3.97 2.40
30    0.23  Very Good F     VS1     60.9  57    357   3.96 3.99 2.42
⋮     ⋮     ⋮         ⋮     ⋮       ⋮     ⋮     ⋮     ⋮    ⋮    ⋮
53911 0.70  Premium   E     SI1     60.5  58    2753  5.74 5.77 3.48
53912 0.57  Premium   E     IF      59.8  60    2753  5.43 5.38 3.23
53913 0.61  Premium   F     VVS1    61.8  59    2753  5.48 5.40 3.36
53914 0.80  Good      G     VS2     64.2  58    2753  5.84 5.81 3.74
53915 0.84  Good      I     VS1     63.7  59    2753  5.94 5.90 3.77
53916 0.77  Ideal     E     SI2     62.1  56    2753  5.84 5.86 3.63
53917 0.74  Good      D     SI1     63.1  59    2753  5.71 5.74 3.61
53918 0.90  Very Good J     SI1     63.2  60    2753  6.12 6.09 3.86
53919 0.76  Premium   I     VS1     59.3  62    2753  5.93 5.85 3.49
53920 0.76  Ideal     I     VVS1    62.2  55    2753  5.89 5.87 3.66
53921 0.70  Very Good E     VS2     62.4  60    2755  5.57 5.61 3.49
53922 0.70  Very Good E     VS2     62.8  60    2755  5.59 5.65 3.53
53923 0.70  Very Good D     VS1     63.1  59    2755  5.67 5.58 3.55
53924 0.73  Ideal     I     VS2     61.3  56    2756  5.80 5.84 3.57
53925 0.73  Ideal     I     VS2     61.6  55    2756  5.82 5.84 3.59
53926 0.79  Ideal     I     SI1     61.6  56    2756  5.95 5.97 3.67
53927 0.71  Ideal     E     SI1     61.9  56    2756  5.71 5.73 3.54
53928 0.79  Good      F     SI1     58.1  59    2756  6.06 6.13 3.54
53929 0.79  Premium   E     SI2     61.4  58    2756  6.03 5.96 3.68
53930 0.71  Ideal     G     VS1     61.4  56    2756  5.76 5.73 3.53
53931 0.71  Premium   E     SI1     60.5  55    2756  5.79 5.74 3.49
53932 0.71  Premium   F     SI1     59.8  62    2756  5.74 5.73 3.43
53933 0.70  Very Good E     VS2     60.5  59    2757  5.71 5.76 3.47
53934 0.70  Very Good E     VS2     61.2  59    2757  5.69 5.72 3.49
53935 0.72  Premium   D     SI1     62.7  59    2757  5.69 5.73 3.58
53936 0.72  Ideal     D     SI1     60.8  57    2757  5.75 5.76 3.50
53937 0.72  Good      D     SI1     63.1  55    2757  5.69 5.75 3.61
53938 0.70  Very Good D     SI1     62.8  60    2757  5.66 5.68 3.56
53939 0.86  Premium   H     SI2     61.0  58    2757  6.15 6.12 3.74
53940 0.75  Ideal     D     SI2     62.2  55    2757  5.83 5.87 3.64

      carat price
1     0.23  326
2     0.21  326
3     0.23  327
4     0.29  334
5     0.31  335
6     0.24  336
7     0.24  336
8     0.26  337
9     0.22  337
10    0.23  338
11    0.30  339
12    0.23  340
13    0.22  342
14    0.31  344
15    0.20  345
16    0.32  345
17    0.30  348
18    0.30  351
19    0.30  351
20    0.30  351
21    0.30  351
22    0.23  352
23    0.23  353
24    0.31  353
25    0.31  353
26    0.23  354
27    0.24  355
28    0.30  357
29    0.23  357
30    0.23  357
⋮     ⋮     ⋮
53911 0.70  2753
53912 0.57  2753
53913 0.61  2753
53914 0.80  2753
53915 0.84  2753
53916 0.77  2753
53917 0.74  2753
53918 0.90  2753
53919 0.76  2753
53920 0.76  2753
53921 0.70  2755
53922 0.70  2755
53923 0.70  2755
53924 0.73  2756
53925 0.73  2756
53926 0.79  2756
53927 0.71  2756
53928 0.79  2756
53929 0.79  2756
53930 0.71  2756
53931 0.71  2756
53932 0.71  2756
53933 0.70  2757
53934 0.70  2757
53935 0.72  2757
53936 0.72  2757
53937 0.72  2757
53938 0.70  2757
53939 0.86  2757
53940 0.75  2757

In [175]:
# price 가 1000 이상인 데이터 조회
diamonds %>% filter(price >= 1000)

      carat cut       color clarity depth table price x    y    z
1     0.70  Ideal     E     SI1     62.5  57    2757  5.70 5.72 3.57
2     0.86  Fair      E     SI2     55.1  69    2757  6.45 6.33 3.52
3     0.70  Ideal     G     VS2     61.6  56    2757  5.70 5.67 3.50
4     0.71  Very Good E     VS2     62.4  57    2759  5.68 5.73 3.56
5     0.78  Very Good G     SI2     63.8  56    2759  5.81 5.85 3.72
6     0.70  Good      E     VS2     57.5  58    2759  5.85 5.90 3.38
7     0.70  Good      F     VS1     59.4  62    2759  5.71 5.76 3.40
8     0.96  Fair      F     SI2     66.3  62    2759  6.27 5.95 4.07
9     0.73  Very Good E     SI1     61.6  59    2760  5.77 5.78 3.56
10    0.80  Premium   H     SI1     61.5  58    2760  5.97 5.93 3.66
11    0.75  Very Good D     SI1     63.2  56    2760  5.80 5.75 3.65
12    0.75  Premium   E     SI1     59.9  54    2760  6.00 5.96 3.58
13    0.74  Ideal     G     SI1     61.6  55    2760  5.80 5.85 3.59
14    0.75  Premium   G     VS2     61.7  58    2760  5.85 5.79 3.59
15    0.80  Ideal     I     VS1     62.9  56    2760  5.94 5.87 3.72
16    0.75  Ideal     G     SI1     62.2  55    2760  5.87 5.80 3.63
17    0.80  Premium   G     SI1     63.0  59    2760  5.90 5.81 3.69
18    0.74  Ideal     I     VVS2    62.3  55    2761  5.77 5.81 3.61
19    0.81  Ideal     F     SI2     58.8  57    2761  6.14 6.11 3.60
20    0.59  Ideal     E     VVS2    62.0  55    2761  5.38 5.43 3.35
21    0.80  Ideal     F     SI2     61.4  57    2761  5.96 6.00 3.67
22    0.74  Ideal     E     SI2     62.2  56    2761  5.80 5.84 3.62
23    0.90  Premium   I     VS2     63.0  58    2761  6.16 6.12 3.87
24    0.74  Very Good G     SI1     62.2  59    2762  5.73 5.82 3.59
25    0.73  Ideal     F     VS2     62.6  56    2762  5.77 5.74 3.60
26    0.73  Ideal     F     VS2     62.7  53    2762  5.80 5.75 3.62
27    0.80  Premium   F     SI2     61.7  58    2762  5.98 5.94 3.68
28    0.71  Ideal     G     VS2     62.4  54    2762  5.72 5.76 3.58
29    0.70  Ideal     E     VS2     60.7  58    2762  5.73 5.76 3.49
30    0.80  Ideal     F     SI2     59.9  59    2762  6.01 6.07 3.62
⋮     ⋮     ⋮         ⋮     ⋮       ⋮     ⋮     ⋮     ⋮    ⋮    ⋮
39412 0.70  Premium   E     SI1     60.5  58    2753  5.74 5.77 3.48
39413 0.57  Premium   E     IF      59.8  60    2753  5.43 5.38 3.23
39414 0.61  Premium   F     VVS1    61.8  59    2753  5.48 5.40 3.36
39415 0.80  Good      G     VS2     64.2  58    2753  5.84 5.81 3.74
39416 0.84  Good      I     VS1     63.7  59    2753  5.94 5.90 3.77
39417 0.77  Ideal     E     SI2     62.1  56    2753  5.84 5.86 3.63
39418 0.74  Good      D     SI1     63.1  59    2753  5.71 5.74 3.61
39419 0.90  Very Good J     SI1     63.2  60    2753  6.12 6.09 3.86
39420 0.76  Premium   I     VS1     59.3  62    2753  5.93 5.85 3.49
39421 0.76  Ideal     I     VVS1    62.2  55    2753  5.89 5.87 3.66
39422 0.70  Very Good E     VS2     62.4  60    2755  5.57 5.61 3.49
39423 0.70  Very Good E     VS2     62.8  60    2755  5.59 5.65 3.53
39424 0.70  Very Good D     VS1     63.1  59    2755  5.67 5.58 3.55
39425 0.73  Ideal     I     VS2     61.3  56    2756  5.80 5.84 3.57
39426 0.73  Ideal     I     VS2     61.6  55    2756  5.82 5.84 3.59
39427 0.79  Ideal     I     SI1     61.6  56    2756  5.95 5.97 3.67
39428 0.71  Ideal     E     SI1     61.9  56    2756  5.71 5.73 3.54
39429 0.79  Good      F     SI1     58.1  59    2756  6.06 6.13 3.54
39430 0.79  Premium   E     SI2     61.4  58    2756  6.03 5.96 3.68
39431 0.71  Ideal     G     VS1     61.4  56    2756  5.76 5.73 3.53
39432 0.71  Premium   E     SI1     60.5  55    2756  5.79 5.74 3.49
39433 0.71  Premium   F     SI1     59.8  62    2756  5.74 5.73 3.43
39434 0.70  Very Good E     VS2     60.5  59    2757  5.71 5.76 3.47
39435 0.70  Very Good E     VS2     61.2  59    2757  5.69 5.72 3.49
39436 0.72  Premium   D     SI1     62.7  59    2757  5.69 5.73 3.58
39437 0.72  Ideal     D     SI1     60.8  57    2757  5.75 5.76 3.50
39438 0.72  Good      D     SI1     63.1  55    2757  5.69 5.75 3.61
39439 0.70  Very Good D     SI1     62.8  60    2757  5.66 5.68 3.56
39440 0.86  Premium   H     SI2     61.0  58    2757  6.15 6.12 3.74
39441 0.75  Ideal     D     SI2     62.2  55    2757  5.83 5.87 3.64

In [174]:
# carat이 2이상, price 가 14000 이하인 데이터 조회 
diamonds %>% filter(carat >=2, price <= 14000)

    carat cut       color clarity depth table price x    y    z
1   2.00  Premium   J     I1      61.5  59    5051  8.11 8.06 4.97
2   2.06  Premium   J     I1      61.2  58    5203  8.10 8.07 4.95
3   2.14  Fair      J     I1      69.4  57    5405  7.74 7.70 5.36
4   2.15  Fair      J     I1      65.5  57    5430  8.01 7.95 5.23
5   2.22  Fair      J     I1      66.7  56    5607  8.04 8.02 5.36
6   2.00  Fair      I     I1      66.0  60    5667  7.78 7.74 5.10
7   2.01  Fair      I     I1      67.4  58    5696  7.71 7.64 5.17
8   2.01  Fair      I     I1      55.9  64    5696  8.48 8.39 4.71
9   2.27  Fair      J     I1      67.6  55    5733  8.05 8.00 5.43
10  2.00  Fair      H     I1      69.8  54    5914  7.60 7.56 5.29
11  2.03  Fair      H     I1      64.4  59    6002  7.91 7.85 5.07
12  2.03  Fair      H     I1      66.6  57    6002  7.81 7.75 5.19
13  2.06  Good      H     I1      64.3  58    6091  8.03 7.99 5.15
14  2.08  Premium   H     I1      61.7  57    6150  8.23 8.18 5.06
15  2.49  Fair      J     I1      66.3  58    6289  8.26 8.18 5.45
16  2.01  Fair      G     I1      70.2  57    6315  7.53 7.50 5.27
17  2.14  Fair      H     I1      66.4  56    6328  8.00 7.92 5.29
18  2.00  Premium   H     I1      59.7  62    6344  8.19 8.02 4.85
19  2.02  Fair      G     I1      68.0  55    6346  7.77 7.72 5.27
20  2.02  Fair      G     I1      65.6  57    6346  7.87 7.80 5.15
21  2.15  Premium   H     I1      62.9  57    6357  8.25 8.20 5.18
22  2.03  Fair      G     I1      66.3  56    6377  7.81 7.75 5.16
23  2.03  Premium   G     I1      61.1  58    6377  8.11 8.06 4.94
24  2.07  Fair      G     I1      67.7  56    6503  7.76 7.73 5.25
25  3.00  Very Good H     I1      63.1  55    6512  9.23 9.10 5.77
26  2.00  Good      J     I1      63.6  62    6521  7.97 7.80 5.02
27  2.00  Fair      F     I1      66.1  57    6532  7.84 7.70 5.14
28  2.21  Premium   H     I1      62.2  58    6535  8.31 8.27 5.16
29  2.22  Fair      H     I1      70.1  55    6564  7.77 7.74 5.44
30  2.01  Very Good H     I1      58.1  63    6592  8.30 8.19 4.79
⋮   ⋮     ⋮         ⋮     ⋮       ⋮     ⋮     ⋮     ⋮    ⋮    ⋮
740 2.03  Ideal     J     VS2     62.1  57    13880 8.15 8.08 5.04
741 2.12  Premium   E     SI2     62.4  58    13884 8.22 8.18 5.12
742 2.26  Premium   H     SI2     61.1  57    13885 8.45 8.40 5.15
743 2.00  Very Good I     SI2     59.5  61    13892 8.16 8.18 4.86
744 2.28  Ideal     G     SI2     61.6  57    13907 8.44 8.37 5.18
745 2.06  Premium   G     SI2     60.7  58    13908 8.18 8.25 4.99
746 2.06  Premium   I     SI2     61.0  61    13912 8.18 8.10 5.02
747 2.20  Good      H     SI2     63.6  58    13919 8.21 8.17 5.21
748 2.28  Premium   H     SI1     59.3  58    13919 8.60 8.56 5.09
749 2.00  Ideal     I     SI2     61.1  59    13921 8.07 8.11 4.94
750 2.26  Very Good H     SI2     63.3  59    13923 8.35 8.26 5.25
751 2.01  Good      H     SI1     56.7  58    13929 8.31 8.36 4.73
752 2.10  Premium   J     SI1     62.9  58    13930 8.15 8.09 5.11
753 2.23  Premium   J     SI2     61.3  60    13931 8.40 8.35 5.13
754 2.09  Ideal     I     SI2     61.2  57    13933 8.27 8.19 5.04
755 2.18  Premium   J     SI1     62.9  59    13938 8.25 8.21 5.18
756 2.01  Very Good G     SI2     61.3  60    13940 8.08 8.17 4.98
757 2.06  Very Good J     VS2     61.8  59    13948 8.14 8.20 5.05
758 2.08  Good      I     SI2     63.8  58    13956 8.02 8.10 5.14
759 2.01  Good      I     SI1     63.8  57    13976 7.95 7.91 5.06
760 2.19  Good      G     SI1     63.7  56    13978 8.26 8.17 5.23
761 2.21  Premium   H     SI1     61.1  58    13983 8.39 8.34 5.11
762 2.00  Premium   H     SI1     59.8  60    13986 8.04 8.01 4.80
763 2.00  Premium   G     SI2     61.1  60    13986 8.10 8.03 4.93
764 2.02  Premium   I     SI2     61.1  61    13991 8.11 8.08 4.95
765 2.02  Premium   I     SI2     62.9  60    13991 8.05 8.01 5.05
766 2.07  Premium   H     SI1     62.7  58    13993 8.14 8.09 5.09
767 2.07  Good      I     SI1     63.6  58    13993 8.09 7.99 5.11
768 2.13  Very Good J     SI1     62.8  58    13996 8.13 8.17 5.12
769 2.11  Premium   J     SI1     62.4  58    13996 8.27 8.17 5.13

In [173]:
# cut이 'Ideal'이거나 'Good'인 데이터 조회
diamonds %>% filter(cut=='Ideal' | cut == 'Good')

      carat cut   color clarity depth table price x    y    z
1     0.23  Ideal E     SI2     61.5  55.0  326   3.95 3.98 2.43
2     0.23  Good  E     VS1     56.9  65.0  327   4.05 4.07 2.31
3     0.31  Good  J     SI2     63.3  58.0  335   4.34 4.35 2.75
4     0.30  Good  J     SI1     64.0  55.0  339   4.25 4.28 2.73
5     0.23  Ideal J     VS1     62.8  56.0  340   3.93 3.90 2.46
6     0.31  Ideal J     SI2     62.2  54.0  344   4.35 4.37 2.71
7     0.30  Ideal I     SI2     62.0  54.0  348   4.31 4.34 2.68
8     0.30  Good  J     SI1     63.4  54.0  351   4.23 4.29 2.70
9     0.30  Good  J     SI1     63.8  56.0  351   4.23 4.26 2.71
10    0.30  Good  I     SI2     63.3  56.0  351   4.26 4.30 2.71
11    0.23  Good  F     VS1     58.2  59.0  402   4.06 4.08 2.37
12    0.23  Good  E     VS1     64.1  59.0  402   3.83 3.85 2.46
13    0.31  Good  H     SI1     64.0  54.0  402   4.29 4.31 2.75
14    0.33  Ideal I     SI2     61.8  55.0  403   4.49 4.51 2.78
15    0.33  Ideal I     SI2     61.2  56.0  403   4.49 4.50 2.75
16    0.33  Ideal J     SI1     61.1  56.0  403   4.49 4.55 2.76
17    0.26  Good  D     VS2     65.2  56.0  403   3.99 4.02 2.61
18    0.26  Good  D     VS1     58.4  63.0  403   4.19 4.24 2.46
19    0.32  Good  H     SI2     63.1  56.0  403   4.34 4.37 2.75
20    0.32  Good  H     SI2     63.8  56.0  403   4.36 4.38 2.79
21    0.23  Ideal G     VS1     61.9  54.0  404   3.93 3.95 2.44
22    0.32  Ideal I     SI1     60.9  55.0  404   4.45 4.48 2.72
23    0.30  Ideal I     SI2     61.0  59.0  405   4.30 4.33 2.63
24    0.30  Good  I     SI1     63.2  55.0  405   4.25 4.29 2.70
25    0.35  Ideal I     VS1     60.9  57.0  552   4.54 4.59 2.78
26    0.30  Ideal D     SI1     62.5  57.0  552   4.29 4.32 2.69
27    0.30  Ideal D     SI1     62.1  56.0  552   4.30 4.33 2.68
28    0.28  Ideal G     VVS2    61.4  56.0  553   4.19 4.22 2.58
29    0.32  Ideal I     VVS1    62.0  55.3  553   4.39 4.42 2.73
30    0.30  Good  H     SI1     63.7  57.0  554   4.28 4.26 2.72
⋮     ⋮     ⋮     ⋮     ⋮       ⋮     ⋮     ⋮     ⋮    ⋮    ⋮
26428 0.51  Ideal E     VVS1    61.9  54.0  2745  5.17 5.11 3.18
26429 0.72  Ideal G     VS1     62.6  53.0  2746  5.76 5.78 3.61
26430 0.81  Ideal D     SI1     61.5  57.0  2748  6.00 6.03 3.70
26431 0.70  Good  D     VS2     58.0  62.0  2749  5.78 5.87 3.38
26432 0.52  Ideal F     IF      61.5  57.0  2749  5.15 5.19 3.18
26433 0.80  Ideal G     SI2     62.2  56.0  2749  5.95 5.91 3.69
26434 0.73  Good  E     SI1     57.9  55.0  2749  6.00 5.96 3.46
26435 0.56  Ideal E     VVS1    62.1  56.0  2750  5.28 5.29 3.28
26436 0.70  Ideal F     VS1     62.5  56.0  2751  5.73 5.70 3.57
26437 0.70  Ideal F     VS1     62.0  55.0  2751  5.74 5.71 3.55
26438 0.71  Ideal G     SI1     60.5  56.4  2751  5.76 5.80 3.50
26439 0.70  Good  F     VS1     57.8  61.0  2751  5.83 5.79 3.36
26440 0.83  Ideal G     SI2     62.4  54.0  2751  6.01 6.08 3.77
26441 1.02  Good  H     I1      64.3  63.0  2751  6.28 6.23 4.02
26442 0.72  Ideal H     VVS2    62.3  56.0  2752  5.74 5.81 3.60
26443 0.73  Ideal H     VS2     62.5  58.0  2752  5.71 5.75 3.58
26444 0.80  Good  G     VS2     64.2  58.0  2753  5.84 5.81 3.74
26445 0.84  Good  I     VS1     63.7  59.0  2753  5.94 5.90 3.77
26446 0.77  Ideal E     SI2     62.1  56.0  2753  5.84 5.86 3.63
26447 0.74  Good  D     SI1     63.1  59.0  2753  5.71 5.74 3.61
26448 0.76  Ideal I     VVS1    62.2  55.0  2753  5.89 5.87 3.66
26449 0.73  Ideal I     VS2     61.3  56.0  2756  5.80 5.84 3.57
26450 0.73  Ideal I     VS2     61.6  55.0  2756  5.82 5.84 3.59
26451 0.79  Ideal I     SI1     61.6  56.0  2756  5.95 5.97 3.67
26452 0.71  Ideal E     SI1     61.9  56.0  2756  5.71 5.73 3.54
26453 0.79  Good  F     SI1     58.1  59.0  2756  6.06 6.13 3.54
26454 0.71  Ideal G     VS1     61.4  56.0  2756  5.76 5.73 3.53
26455 0.72  Ideal D     SI1     60.8  57.0  2757  5.75 5.76 3.50
26456 0.72  Good  D     SI1     63.1  55.0  2757  5.69 5.75 3.61
26457 0.75  Ideal D     SI2     62.2  55.0  2757  5.83 5.87 3.64